
div.contain{
    padding-top: 64px;
    padding-bottom: 96px;
    padding-left: 64px;
    padding-right: 64px;

    section{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 96px;

        input{
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            color: rgb(131,58,180);
            height: 21px;
            padding: 8px;
        }
    }

    .grid-images{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
    
        mat-card{
            background: rgba(255, 255, 255, 0.2);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            display: flex;
            justify-content: space-between;

            img{
                cursor: pointer;
                object-fit: contain;
                display: flex; 
                justify-content: center; 
                align-items: center;
            }
            .mdc-card__actions {
                display: flex;
                box-sizing: border-box;
                min-height: 52px;
                padding: 16px;
                justify-content: flex-end;

                button{
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 16px;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    color: #fff;
                }
            }
        }
    }

}

section.foot{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-top: 1px solid rgba(255, 255, 255, 0.3);

    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 11;
    display: flex;
    justify-content: space-between;

    button{
        margin: 1em;
        color: #fff;
    }
}