
<div class="contain">

    <section>
        <input type="text" [(ngModel)]="searchTxt" placeholder="Type to search...">
    </section>
    
    <div class="grid-images">
    
        <mat-card *ngFor="let item of imagesPaginated | filter: searchTxt">
            <img mat-card-image [src]="item.image" (click)="openDialog(item)">
            <mat-card-actions>
                <button mat-stroked-button (click)="addImage(item.image, item.name)">Add to Gallery</button>
            </mat-card-actions>
        </mat-card>
    
    </div>

</div>

<section class="foot">
    <button mat-button (click)="prevPage()">
        <mat-icon>arrow_back_ios</mat-icon>Previous
    </button>
    <button mat-button (click)="nextPage()">
        <mat-icon>arrow_forward_ios</mat-icon>Next
    </button>
</section>

