
<mat-drawer-container>

    <mat-drawer #drawer>
        
        <app-image-gallery-component></app-image-gallery-component>

    </mat-drawer>

    <mat-drawer-content>

        <mat-toolbar>
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
              <mat-icon>menu</mat-icon>
            </button>   
            <span>View My Gallery</span>     
        </mat-toolbar>

        <app-all-images></app-all-images>

    </mat-drawer-content>

</mat-drawer-container>
